<div class="container">
  <div class="main-content">
    <div class="content">
      <h2 class="heading" id="modalheading">Subscribe Location</h2>
      <div class="content">
        <form (ngSubmit)="submitlocationId(f)" #f="ngForm">         
          <h4 class="description" id="enterlocation">Enter Location ID</h4>
          <div class="input">
            <input id="locationfield" type="text"  [(ngModel)]="locationID" name="locationId" value=""  placeholder="LOCATION ID"/>
          </div>
          <div class="control-buttons">
       
            <div class="location-button-center">
              <button type="submit" id="locationmodal_check" class="button rounded primary">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

