.main-content {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: transparent !important;
  background: none;
  overflow: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border: gray solid 1px;
}

.content {
  padding-bottom: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading {
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  padding: 8px;
}

.input {
  padding: 20px;
}

h4 {
  padding-top: 15px;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.control-buttons {
  width: 90%;
  /* align-items: center; */
  margin: auto;
}

.description {
  padding-left: 9px;
  color: gray;
}

.rounded {
  border-radius: 2.25rem !important;
}

.button {
  display: inline-block;
  zoom: 1;
  min-width: 150px;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.4em 25px;
  font-size: 0.89rem;
  border: 1px solid;
  font-family: 'Roboto', sans-serif !important;
  color: #666666;
}

.primary {
  background-color: skyblue;
}
