.container {
width:100%!important;
padding:0!important;
}
html {
  height: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

html, body, .container {
  min-height: 100% !important;
  height: 100% !important;
  overflow:hidden;
}

.modal-header {
  padding-left: 10px !important;
  height: 55px !important;
}

.modal-heading {
  padding: 0;
  margin: 0;
}

.row-input {
  margin-bottom: 20px;
}

.modal-header .close {
  margin-top: -25px !important;
}

.modal-button-large {
  width: auto;
  max-width: 216px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
