html,
body {
  min-height: 100%;
  height: 100%;
  letter-spacing: 0.5px;
  margin: 0;
  background-color: #0b0f10;
}

#fullheight {
  width: 250px;
  /*background: blue;*/
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif !important;
}

.container {
  width: 100% !important;
  height: 100%;
}

td,
th {
  padding-left: 10px;
  padding-right: 10px;
}

.app-container {
  min-width: 480px !important;
  width: 100%;
  background-color: black;
}

.container {
  padding: 0 !important;
  width: 100% !important;
  min-width: 480px !important;
  width: 100%;
  background-color: black;
}

.navbar {
  position: initial !important;
}

.app-container>div.header {
  height: 80px;
  top: 0px;
  /*z-index: 1;*/
  width: 100%;
  min-width: 480px;
  background-color: #ffffff;
  position: fixed;
}

.app-container>div.header .logo {
  height: 100%;
  width: 180px;
  background-image: url("~/src/assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  /* padding-left: 95px; */
  overflow: hidden;
  /*min-height: 800px;*/
}

.sidenav-container {
  position: fixed;
  height: calc(100% - 80px);
  top: 80px;
  width: 80px;
}

.flex-layout {
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.title {
  margin: 1rem 0;
  height: 2rem;
  vertical-align: middle;
  line-height: 2rem;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-layout>div.expand {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.title>div {
  font-size: 2rem;
  margin-right: 1rem;
}

div.sidenav-container {
  position: fixed;
  height: calc(100% - 80px);
  top: 80px;
  width: 80px;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.menu .menu-item.selected {
  background-color: #344354;
}

.menu>.menu-item>div.icon {
  height: 48px;
  width: 48px;
  margin: auto;
}

.menu>.menu-item>.icontext {
  margin: 0px;
  color: white;
  font-size: small;
}

.menu>.menu-item {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  height: 80px;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #333333;
}

.icon-dashboard {
  background-image: url("~/assets/images/dashboard-icon.svg");
  background-repeat: no-repeat;
}

.icon-document-print {
  background-image: url("~/assets/images/print-icon.svg");
  background-repeat: no-repeat;
}

.icon-scan {
  background-image: url("~/assets/images/scan-icon.svg");
  background-repeat: no-repeat;
}

.menu>.menu-item>div.icon {
  height: 48px;
  width: 48px;
  margin: auto;
}

.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #212121;
  padding-left: 48px;
  color: #fff;
  font-size: 1em;
}

.footer-container>div:first-child {
  padding-left: 25px;
  padding-right: 25px;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.outerContainer {
  width: 95%;
  height: inherit;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #212121;
  border-left: 1px solid #fff;
  margin: 1px;
}

.uncheck {
  margin-top: 50%;
  display: inline-block;
  margin: 5px;
  color: red;
}

.split-layout .capability-list {
  height: 100%;
  width: 80%;
  /*float: left;*/
  margin: auto;
  padding-top: 50px;
}

div.tabs__tab {
  overflow: hidden;
  border: white !important;
  background-color: #212121;
  color: black;
}

div.tabs__tab button.active {
  background-color: #3b3b3b;
}

div.tab button {
  background-color: #212121;
  float: left;
  border: #3f3f3f;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

.tabcontent {
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 12px;
  border: 1px solid #3f3f3f;
  border-top: none;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: auto;
  background-color: #3b3b3b;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  color: white;
}

.tabs__tab {
  background-color: black !important;
}

.scan {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.print {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.list {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}

.tabcontent {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 12px;
  border: 1px solid #3f3f3f;
  border-top: none;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: auto;
  background-color: #3b3b3b;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
}

.content {
  color: #ffffff;
}

.list td {
  margin: 5px;
}

.nav>li {
  z-index: 2 !important;
}

/*sub  devices*/

.sub-device-container {
  width: 90% !important;
  display: inline-block;
  white-space: nowrap !important;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
}

.wrapperforsub {
  white-space: nowrap !important;
  width: 100%;
  overflow: visible;
}

.sub-devices {
  height: inherit;
  border: 1px solid #000;
  text-align: center;
  margin: 0 10px;
  background-color: inherit;
  color: #fff;
  border: solid 1px white;
  font-size: 0.9em;
  display: inline-block;
}

.sub-devices>divlocator-id {
  margin: 5px 10px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uncheck {
  display: inline-block;
  margin: 2px;
  color: red;
  transform: translate(-65%, 0px);
}

.expand {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  background-color: green;
}

.online {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  background-color: green;
}

.powerOff {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  background-color: red;
}

.notReachable {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  background-color: #b3b004;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-bottom: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: auto;
  width: 100%;
}

.Sub-Menu {
  margin-top: -15px;
  margin-bottom: 5px;
  text-align: center;
}

.Sub-Menu iput {
  width: 50px;
  text-align: center;
}

.tab-button {
  width: auto;
  max-width: 200px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.test {
  z-index: 2;
  position: relative;
  top: 110px;
  overflow: visible;
  display: inline-block;
}

.status {
  color: white;
}

.errorSpan {
  color: wheat;
  text-align: center;
}

.row2 {
  text-align: center;
}

.printInfo {
  background: #d7d7d7;
  color: #000000;
}

.scan-data-bg {
  background: #d7d7d7;
  color: #000
}
