<div class="container">
  <div class="main">
    <div class="split-layout">

      <div class="row2">

        <div class="capability-list">
          <div class="tabs__tab">
            <tabs (currentTabChange)="onTabChange($event)">
              <tab class="tablinks" tabTitle="PRINT CAPABILITIES">
                <div class="Sub-Menu">
                  <input class="tab-button" type="button" (click)="onClickAcquireStandard(checkedList)" value="Acquire Shared" />
                  <input class="tab-button" type="button" (click)="onClickAcquireExclusive(checkedList)" value="Acquire Exclusive" />
                  <input class="tab-button" type="button" (click)="onClickEnable(checkedList)" value="Enable Exclusive" />
                  <input class="tab-button" type="button" (click)="onClickEnableShared(checkedList)" value="Enable" />
                  <input class="tab-button" type="button" (click)="onClickDisable(checkedList)" value="Disable" />
                  <input class="tab-button" type="button" (click)="onClickRelease(checkedList)" value="Release" />
                  <input class="tab-button" type="button" (click)="onClickReleaseAll()" value="Release All" />
                  <input class="tab-button" type="button" (click)="onClickPrint()" value="Print" />
                </div>
                <div class="tabcontent print" id="PrintCapabilities">
                  <div class="row">
                    <span class="errorSpan">{{errorDetail}}</span>
                    <!--  <div *ngFor= "let item of releasedDevices">
                        {{trimLocationName(item)}}
                        
                                              </div>-->
                  </div>
                  <div class="row">
                    <div class="column" *ngFor="let item of printCapabilities; let i = index;">
                      <div class=".sub-device-container">
                        <input type="checkbox" value={{item.locator}} [checked]="item.checked" (change)="change($event, item)" />
                        <div class="sub-devices flex-layout">
                          <div [ngClass]="{'online': item.status == 'Online' , 'powerOff': item.status == 'PoweredOff', 'notReachable': item.status == 'NotReachable'}">
                            <span>{{trimLocationName(item.locator)}}</span>
                          </div>
                        </div>
                        <br />
                        <span class="status">{{item.ReserveStatus}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div [hidden]="!(displayPrintDiv == 'BoardingPass')" class="printInfo">
                        <h5>PrintBoardingPass</h5>
                        <div>
                          <div>
                            <div>
                              <label class="input-group-text">No. of prints</label>
                              <select (change)="changeNoOfPrints($event.target.value)" id="print-repeat-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                              </select>
                            </div>
                          </div>
                          <input class="tab-button" type="button" (click)="printDevices('Small')" value="Print (Small PDF)" />
                          <input class="tab-button" type="button" (click)="printDevices('Large')" value="Print (Large PDF)" />
                          <input class="tab-button" type="button" (click)="printDevices('SVG')" value="Print Boarding Card (SVG)" />
                          <label class="form-control" style="margin-top:5px">
                            <input type="file" class="input-file au-target" name="uploadField" files.bind="uploadFiles"
                              print-results.bind="printResults" accept="PDF, svg" au-target-id="41">
                          </label>
                          <form submit.delegate="submit(uploadFiles)" style="margin-top:5px" class="au-target"
                            au-target-id="42">
                            <button type="submit" class="btn btn-sm btn-secondary btn-submit au-target" disabled.bind="uploadFiles.length <= 0"
                              au-target-id="43" disabled="">Submit</button>
                          </form>
                        </div>
                        <div class="border-top feedback">
                          <span class="successful" [ngClass]="{'text-success': printStatus == 1, 'text-danger': printStatus == 2}">
                            {{statusMessage}}
                          </span>
                        </div>
                      </div>
                      <div [hidden]="!(displayPrintDiv == 'BagTag')" class="printInfo">
                        <h5>PrintBagTag</h5>
                        <div>
                          <div>
                            <div>
                              <label class="input-group-text">No. of prints</label>
                              <select (change)="changeNoOfPrints($event.target.value)" id="print-repeat-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                              </select>
                            </div>
                          </div>
                          <input class="tab-button" type="button" (click)="printDevices('BTP')" value="Print" />
                        </div>
                        <div class="border-top feedback">
                          <span class="successful" [ngClass]="{'text-success': printStatus == 1, 'text-danger': printStatus == 2}">
                            {{statusMessage}}
                          </span>
                        </div>
                      </div>
                      <div [hidden]="!(displayPrintDiv == 'BoardingReceipt')" class="printInfo">
                        <h5>PrintDocument</h5>
                        <div>
                          <div>
                            <div>
                              <label class="input-group-text">No. of prints</label>
                              <select (change)="changeNoOfPrints($event.target.value)" id="print-repeat-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                              </select>
                            </div>
                          </div>
                          <div>
                            <textarea class="printMessage" #documentMessage rows="4" cols="50" class="print-text" id="160">Print me!</textarea>
                          </div>
                          <input class="tab-button" type="button" (click)="printDevices('DCP', documentMessage.value)"
                            value="Print" />
                        </div>
                        <div class="border-top feedback">
                          <span class="successful" [ngClass]="{'text-success': printStatus == 1, 'text-danger': printStatus == 2}">
                            {{statusMessage}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab class="tablinks" tabTitle="SCAN CAPABILITIES" (click)="onTabChange('scan')">
                <div class="Sub-Menu">
                  <input class="tab-button" type="button" (click)="onClickAcquireStandard(checkedList)" value="Acquire Shared" />
                  <input class="tab-button" type="button" (click)="onClickAcquireExclusive(checkedList)" value="Acquire Exclusive" />
                  <input class="tab-button" type="button" (click)="onClickEnable(checkedList)" value="Enable Exclusive" />
                  <input class="tab-button" type="button" (click)="onClickEnableShared(checkedList)" value="Enable" />
                  <input class="tab-button" type="button" (click)="onClickDisable(checkedList)" value="Disable" />
                  <input class="tab-button" type="button" (click)="onClickRelease(checkedList)" value="Release" />
                  <input class="tab-button" type="button" (click)="onClickReleaseAll()" value="Release All" />
                </div>
                <div class="tabcontent scan" id="ScanCapabilities">
                  <div class="row">
                    <span class="errorSpan">{{errorDetail}}</span>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3" *ngFor="let item of scanCapabilities let i = index;">
                          <div class=".sub-device-container">
                            <input type="checkbox" value={{item.locator}} [checked]="item.checked" (change)="change($event, item)" />
                            <div class="sub-devices flex-layout">
                              <div [ngClass]="{'online': item.status == 'Online' , 'powerOff': item.status == 'PoweredOff'}">
                                <span>{{trimLocationName(item.locator)}}</span>
                              </div>
                            </div>
                            <br />
                            <span class="status">{{item.ReserveStatus}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">ReadBarcode</h3>
                          </div>
                          <div class="panel-body scan-data-bg text-left">
                            <span><em>* latest data recieved</em></span>
                            <ul class="list-group">
                              <li class="list-group-item">
                                <strong>AEA</strong> : <span>{{scanedData.AEAData}}</span>
                              </li>
                              <li class="list-group-item"><strong>Barcode Data</strong> : <span>{{scanedData.BarcodeData}}</span></li>
                              <li class="list-group-item"><strong>Barcode Type</strong> : <span>{{scanedData.BarcodeType}}</span></li>
                              <li class="list-group-item"><strong>Transaction Id</strong> : <span>{{scanedData.TransactionId}}</span></li>
                              <li class="list-group-item"><strong>Unsolicited Event Id</strong> : <span>{{scanedData.UnsolicitedEventId}}</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sidenav-container">
  <!--<div class="menu">-->
  <!--<div class="menu-item selected" routerlink="dashboard" routerlinkactive="selected" tabindex="0" ng-reflect-router-link="dashboard" ng-reflect-router-link-active="selected">
      <div class="icon icon-dashboard"></div>
      <div class="icontext">Dashboard</div>
      </div>-->
  <!--<div class="menu-item" routerlink="print" routerlinkactive="selected" tabindex="0" ng-reflect-router-link="print" ng-reflect-router-link-active="selected">
      <div class="icon icon-document-print"></div>
      <div class="icontext">Print</div>
      </div>
      <div class="menu-item" routerlink="scan" routerlinkactive="selected" tabindex="0" ng-reflect-router-link="scan" ng-reflect-router-link-active="selected">
      <div class="icon icon-scan"></div>
      <div class="icontext">Scan</div>
      </div>-->
  <!--<div class="menu-item fill">
      </div>-->
  <!--</div>-->
</div>
<!--<div class="footer-container">
    <div class="col-xs-12 col-sm-3">
      <div class="location-id" id="locationid">
        JFK-T1-GATE1-WKS-001
      </div>
    </div>
    
    
    <div class="col-xs-12 col-sm-9">
      <div class="outerContainer" id="outerContainer">
        <div class="sub-device-container" id="subDeviceContainer">
          <div class="wrapperforsub" id="wrapper">
            <div class="sub-devices" ng-reflect-id="BLR-T1-GATE1-WKS-001.MSR1" id="BLR-T1-GATE1-WKS-001.MSR1">
              <span>MSR1</span>
              <i aria-hidden="true" class="fa fa-exclamation-circle uncheck" id="BLR-T1-GATE1-WKS-001.MSR1"></i>
            </div>
            <div class="sub-devices" id="BLR-T1-GATE1-WKS-001.OCR1">
              <span>OCR1</span>
              <i aria-hidden="true" class="fa fa-exclamation-circle uncheck" id="BLR-T1-GATE1-WKS-001.OCR1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
